<p>&nbsp;</p>
<h2>Estimados:</h2>
<p>&nbsp;</p>
<h1>El presente informe notifica los eventos registrados hasta el <%=fecha%></h1>
<p>&nbsp;</p>
<%result.forEach(function(obj){ %>
<table border="1" style="border: 1px solid #999">
  <tbody>
            <tr>
              <th scope="row">PROGRAMA</th>
              <td><%=obj.programa%></td>
            </tr>
            <tr>
              <th scope="row">DESCRIPCION</th>
              <td style="width:500px; float:left; word-wrap:break-word"><%=obj.descripcion%></td>
            </tr>
            <tr>
              <th scope="row">OPERADOR</th>
              <td><%=obj.operador%></td>
            </tr>
            <tr>
              <th scope="row">RESPONSABLE</th>
              <td><%=obj.responsable%></td>
            </tr>
            <tr>
              <th scope="row">DURACION (seg)</th>
              <td><%=obj.duracionfalla%></td>
            </tr>
            <tr>
              <th scope="row">FECHA EVENTO</th>
              <td><%=obj.fechaevento%></td>
            </tr>
  </tbody>
</table>
<br />
<%})%>
<p>&nbsp;</p>
<h1>Saludos cordiales, </h1>
<p></p>
<h1><%=remitente%></h1>
<br>
<h1>Sala de Control Master</h1>
